@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*:not(.twitter-tweet) {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html {
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #ff41a9, #6441A5, #1DA1F2, #007f88);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  text-align: center;
  transition: 0.5s ease;
}

.Mizkif {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ),  url('./img/gifs/mizkif.gif');
    background-size: cover;
}

.Hasanabi {
  background-image: url('./img/gifs/hasanabi.gif');
    background-size: cover;
}

.Sykkuno {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ),  url('./img/gifs/sykkuno.gif');
    background-size: cover;
}

.Ludwig {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ),  url('./img/gifs/ludwig.gif');
    background-size: cover;
}

.Pokimane {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ), url('./img/gifs/pokimane.gif');
    background-size: cover;
}

.xQc {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ), url('./img/gifs/xqc.gif');
    background-size: cover;
}

.Sodapoppin {
  background-image: url('./img/gifs/sodapoppin.gif');
    background-size: cover;
}

.MoistCr1TiKaL {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ), url('./img/gifs/MoistCr1TiKaL.gif');
  background-size: cover;
}

#container {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#container * {
  background: none;
}

@keyframes gradient {
    0% {
        background-position: 25% 50%;
    }
    50% {
        background-position: 80% 50%;
    }
    100% {
        background-position: 25% 50%;
    }
}

h1, h2, h3 {
  color: white;
}

h3 {
  font-weight: 400;
  font-size: 16pt;
}

#logo {
  margin-top: 10vh;
  width: 500px;
  height: auto;
}

#landing {
  display: inline-block;
  width: 440px;
}

#gameOver {
  margin-top: 10vh;
  display: inline-block;
  width: 440px;
}

.cta-primary {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  padding: 4px 0px;
  outline: white solid 2px;
  color: white;
  border-radius: 80px;
  cursor: pointer;
  transition: 0.25s ease;
  mix-blend-mode: normal;
  font-size: 16pt;
  font-weight: 700;
  margin-top: 24px;
}

.cta-primary:hover {
  background-color: white !important;
  color: #1DA1F2;
}

#game-prompt {
  margin-top: 12vh;
}

.tweet-card {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 600px;
  background-color: white !important;
  border-radius: 10px;
  border: rgb(207, 217, 222) solid 2px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 10%);
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease;
}

.tweet-container {
  display: block;
  text-align: left;
  margin: 0 24px;
}

.pfp-hidden, .handle-hidden {
  background-color: rgb(207, 217, 222) !important;
}

.pfp-hidden {
  display: inline-block;
  height: 44px;
  width: 44px;
  margin-top: 18px;
  border-radius: 50%;
}

.handle-container {
  display: inline-block;
  margin: 0 0 4px 18px;
}

.handle-hidden {
  display: block;
  height: 14px;
  width: 200px;
}

.handle-hidden:last-of-type {
  margin-top: 8px;
}

.tweet-text {
  font-size: 16pt;
}

.tweet-datetime {
  color: rgb(83, 100, 113);
}

.mc-container {
  margin-top: 40px;
  position: relative;
}

.choice {
  display: inline-block;
  width: 280px;
  height: 40px;
  line-height: 40px;
  padding: 4px 0px;
  border-radius: 80px;
  cursor: pointer;
  transition: 0.25s ease;
  mix-blend-mode: normal;
  font-size: 16pt;
  font-weight: 700;
  margin: 12px 24px;
}

.choice-default {
  outline: #1DA1F2 solid 2px;
  color: #1DA1F2;
  background-color: white !important;
}

.choice-default:hover {
  background-color: #1DA1F2 !important;
  color: white;
}

.choice-default:active {
  outline: #168eda solid 2px;
  background-color: #168eda !important;
}

.choice-wrong {
  background-color: #c40000 !important;
  outline: #c40000 solid 2px;
  color: white;
}

.choice-correct {
  background-color: #00a743 !important;
  outline: #00a743 solid 2px;
  color: white;
}

.disabled {
  pointer-events: none;
}

#high-score, #score {
  position: absolute;
  color: white;
  font-size: 16pt;
}

#high-score {
  top: 16px;
  left: 24px;
  font-weight: 700;
  font-size: 16pt;
}

#score {
  font-size: 24pt;
  font-weight: 900;
  bottom: 40px;
  right: 60px;
}

#tweet-placeholder {
  height: 320px;
  line-height: 320px;
  position: relative;
}

.remove-display {
  display: none;
}

.hide-visibility {
  visibility: hidden;
  opacity: 0;
}

.twitter-tweet-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease;
}

#gameOverScore {
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  color: rgba(0,0,0,0);
  font-size: 60pt;
  font-weight: 900;
}

#next-arrow {
  position: absolute;
  fill: white;
  top: 40px;
  right: 280px;
  border-radius: 16px;
  transition: 0.25s ease;
}

#next-arrow:hover {
  cursor: pointer;
  fill: #acdfff;
}

.emote {
  height: 100px;
  width: auto;
  position: absolute;
}

.emote1 {
  top: 100px;
  left: 60px;
}

.emote2 {
  top: 325px;
  left: 200px;
}

.emote3 {
  top: 550px;
  left: 80px;
}

.emote4 {
  top: 100px;
  right: 60px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.emote5 {
  top: 325px;
  right: 200px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.emote6 {
  top: 550px;
  right: 80px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

